name: CI

on:
    push:
        branches: [main, dev]
    pull_request:
        branches: [main, dev]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Setup Bun
              uses: oven-sh/setup-bun@v1 # Official action to install Bun
              with:
                  bun-version: latest # Specifies the version of Bun to install (can use a specific version like '1.0.0' or 'canary')

            - name: Install dependencies
              run: bun install # Installs project dependencies using Bun's package manager

            - name: Run tests
              run: bun run test # Executes tests using Bun's built-in test runner
